{% load bootstrap %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/js" src=http://yastatic.net/bootstrap/3.1.1/js/bootstrap.min.js></script>
</head>
<body>
    <h1>Регистрация</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}

        <input type="submit" value="Регистрация">
    </form>
</body>
</html>