{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <h1 align="center">Профайл</h1>
    <div class="container">
        <div class="col-sm-5">
            {% if success %}
                <div class="alert alert-success">Информация успешно сохранена</div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">Произошла ошибка при сохранении данных</div>
            {% endif %}

            <label>Текущий email: </label><label>{{ email }}</label>
            <form method="post" action="" enctype="multipart/form-data">

                {% csrf_token %}
                {{ user_form|bootstrap }}
                {{ form|bootstrap }}
                <input type='submit' value="Сохранить" class="btn btn-success">
            </form>
            <br>
            <a href="reset_password">Сменить пароль</a>
        </div>

        <div  class="col-sm-5">
            {% if image_url %}
                <img src="/media/{{ image_url }}">
            {% else %}
                <img src="/static/photo/avatar/default.jpg">
            {% endif %}
        </div>
    </div>
{% endblock %}