{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <h1>Профайл</h1>

    <div style="width: 40%; height: 40%">
        {% if success %}
            <div class="alert alert-success">Информация успешно сохранена</div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">Произошла ошибка при сохранении данных</div>
        {% endif %}

        <label>Текущий email: </label><label>{{ email }}</label>
        <form method="post" action="" enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form|bootstrap }}
            {{ form|bootstrap }}
            <input type='submit' value="Сохранить" class="btn btn-success">
        </form>
    </div>

<div>
    Фото:
    {% if url_image %}
        <img src="/media/{{ url_image }}" style="width: 20%; height:20%">
    {% else %}
        <img src="/static/photo/avatar/default.jpg" style="width: 20%; height:20%">
    {% endif %}
</div>

{% endblock %}