{% extends 'base.html' %}
{% load static %}

{% block title %}
Каталог монет
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'coins_view.css' %}">
{% endblock %}

{% block scripts %}
    <!--http://jsfiddle.net/koenpunt/5Ab8B/
    https://github.com/harvesthq/chosen/releases/
    http://harvesthq.github.io/chosen/
    http://alxlit.name/bootstrap-chosen/-->
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
<!-- Change design select element -->
    <script src="{% static 'chosen/select_bootstrap_items.js' %}"></script>
    <script src="{% static 'custom/search_coins.js' %}"></script>
    <script src="{% static 'custom/csrf_ajax.js' %}"></script>

<!-- add script for transform ul element in pagination
http://esimakin.github.io/twbs-pagination/-->
    <script src="{% static 'js/jquery-pagination/jquery.twbsPagination.js' %}"></script>
    <script src="{% static 'js/jquery-pagination/custom_pagination.js' %}"></script>

    <script src="{% static 'js/Bootstrap-3-Typeahead/bootstrap3-typeahead.js' %}"></script>

{% endblock %}

{% block content %}
    <label hidden="True" id="country">{{ country }}</label>

    <div id="search_box">
        <h2>Каталог монет</h2>
        <form action="." method="post">
            {% csrf_token %}
            <h4>Поиск монет</h4>

            <div>
                <label>Каталожный номер:</label>
                <input type="text" id="search_number" class="form-control">
            </div>
            <hr>

            <div>
                <label>Название монеты:</label>
                <input type="text" id="search_name" class="form-control span3" data-provide="typeahead">
            </div>

            <!-- Дополнительные параметры поиска -->
            <div style="padding-top: 3ex;">
                <div class="col-md-4">
                    <label>Серия:</label>
                    <select id="series" class="chosen-select" data-placeholder="Выберите серию" style='height: 100%;'>
                        <option selected="selected" value=""></option>
                        {% for s in series %}
                            <option value="{{ s.id }}">{{ s.series_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4">
                    <label>Качество</label>
                    <select id="qualities" class="chosen-select" data-placeholder="Выберите качество" style='height: 100%;'>
                        <option value=""></option>
                        {% for q in qualities %}
                            <option value="{{ q.id }}">{{ q.quality_coinage }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <div class="col-md-4">
                        <label>Металл:</label>
                        <select id="metals" class="chosen-select" data-placeholder="Выберите металл" style='height: 100%;'>
                            <option value=""></option>
                            {% for m in metals %}
                                <option value="{{ m.id }}">{{ m.metal_description }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            </div>

            <div class="span7 text-center" style="margin:10%">
                <input type="button" id="btnSearch" value="Найти" class="btn btn-success">
                <input type="button" id="btnReset" value="Сброс параметров" class="btn btn-warning">
            </div>

        </form>
    </div>
    <div border="1px">
        <div><h1>Результаты поиска</h1></div>
        <div id="result_box" align="center" style="width:100%; height=100%; border:1px" >
            <h3>Случайный выбор</h3>
            {% for coin in coins %}
                <div class="coins_view col-lg-3" align="center">
                    <div class="coin_item">
                        <img src="{{ coin.photo_reverse }}" width="100px" height="100px">
                    </div>
                    <div>
                        <a href="{{ coin.id }}" title="{{ coin.coin_name }}" target="_blank"><label>
                            {% if coin.coin_name|length > 20 %}
                                {{ coin.coin_name|slice:':20' }}...
                            {% else %}
                                {{ coin.coin_name }}
                            {% endif %}
                        </label></a>
                    </div>
                    <div>
                        <label>{{ coin.rate }} {{coin.denominal}}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="pagination" class="col-md-12" align="center"></div>
{% endblock %}