{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Монеты на! - {{ coin.0.coin_name }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'highcharts/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wish_list/add_wish_list.js' %}"></script>
    {% load chartit %}

{% endblock %}



{% block content %}

    <div class="container" style="margin-top: 3ex; margin-bottom: 4ex;">

        <div class="col-sm-7">
            <!-- Заголовок и серия -->
            <div style="margin-top: 3ex;">
                <h1>{{ coin.0.coin_name }}</h1>
                {% if coin.0.series__series_name %}
                    <label>Серия:</label>
                    <label>{{ coin.0.series__series_name }}</label>
                {% endif %}
            </div>

            <!-- Фото -->
            <div class="span7 text-center" style="padding-top: 3ex;">
                <img src="{{ coin.0.photo_obverse }}" width="40%" height="40%">
                <img src="{{ coin.0.photo_reverse }}" width="40%" height="40%">
            </div>

            <!-- share info -->
            <div id="social" style="margin-top: 2ex;"><!--//127.0.0.1:8000{{ request.get_full_path }} -->
                <h4>Поделиться:</h4>
                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="big" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"
                            data-yashareImage="{{ coin.0.photo_obverse }}"
                            data-yashareTitle="Монеты на! - {{ coin.0.coin_name  }}"
                            data-yashareDescription="{{ coin.0.rate }} {{ coin.0.denominal  }},<br> тираж - {{ coin.0.coin_circulation }} штук,<br> дата выпуска - {{ coin.0.manufacture_date }}."
                        >

                </div>
            </div>

            <div id="ya-share">

            </div>


            <div style="padding-top: 3ex">
                {% if user.is_authenticated %}
                        {% if user_coin  %}
                            {% for c in user_coin %}
                                <div class="span7 text-center">
                                    <a class='btn btn-primary' href="user/collections/{{ country }}/{{ c.coin_series__user_series }}/{{ c.coin }}">Перейти в коллекцию</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <form action="/coins/catalog/city/{{ country }}/{{ coin.0.series }}/{{ coin.0.id }}/" method="POST">
                                {% csrf_token %}
                                <div class="span7 text-center">
                                    <input class="btn btn-success" type="submit" value="Добавить в коллекцию">
                                </div>

                            </form>
                        {% endif %}

                    <div class="span7 text-center" style="margin-top: 2ex" id="wish_list_btn">
                        {% for w in wish_list %}
                            <label>Монета добавлена в список желаний</label>
                        {% empty %}
                            <a onclick="addWishList({{ coin.0.id }})" class="btn btn-warning" title="Добавьте монету в лист желаний и расскажите об этом друзьям!">Я хочу!</a>
                        {% endfor %}
                        <div id="error">

                        </div>
                    </div>
                {% else %}
                <div style="font-size:5ex; background-color: #e0e193;" class="span7 text-center">
                    <a target="_blank" style='vertical-align: middle;' href="/user/register/">Зарегистрируйтесь</a>, если хотите добавить монету в коллекцию.
                </div>
                {% endif %}

            </div>

        </div>

        <div id="info_box"  class="col-sm-5">
            <div style="padding-bottom: 4ex;" class="alert alert-success">
                <span style="font-size: 6ex;">
                    <b>Средняя цена:<br>
                        {% with price|last as last %}
                            {% if last.price %}
                                &#8381</b>
                                <b><label id="price">{{ last.price|intcomma }}</label></b><br/>
                    </span>
                                <i>Последнее обновление: {{ last.date }}</i><br>
                                <a id="molotok_link" target='_blank' href="{{ last.link }}">Монета на молотке</a>
                            {% else %}
                                    Неизвестно
                                </span>
                            {% endif %}
                {% endwith %}

            </div>


            <table class="table">
                <tr>
                    <td>
                        Номинал:
                    </td>
                    <td>
                        <label id="rate">{{ coin.0.rate }} {{ coin.0.denominal }}</label>
                    </td>
                </tr>
                {% if coin.0.chemistry %}
                <tr>
                    <td>
                        Содержание химически чистого<br>металла не менее (гр):
                    </td>
                    <td>
                        <label id="chemistry">{{ coin.0.chemistry }}</label>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        Качество чеканки:
                    </td>
                    <td>
                        <label id="quality">{{ coin.0.quality__quality_coinage }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Вес (гр):
                    </td>
                    <td>
                        <label id="weight">{{ coin.0.coin_weight }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Диаметр (мм):
                    </td>
                    <td>
                        <label id="diamenter">{{ coin.0.coin_diameter }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Толщина (мм):
                    </td>
                    <td>
                        <label>{{ coin.0.coin_thickness }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Тираж (шт):
                    </td>
                    <td>
                        <label id="circulation">{{ coin.0.coin_circulation|intword|intcomma }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата выпуска:
                    </td>
                    <td>
                        <label>{{ coin.0.manufacture_date }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Каталожный номер:
                    </td>
                    <td>
                        <label id="item-number">{{ coin.0.item_number }}</label>
                    </td>
                </tr>
            </table>

            <div>
                <a target="_blank" href="{{ coin.0.link_cbr }}">Монета на сайте банка</a>
            </div>


        </div>
    </div>



    <div id="description" class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Описание монеты</h3>
            </div>
        </div>

        <div class="panel-body">
            <div>
                <label>Аверс:</label>
                <label id="obverse">{{ coin.0.description_observe }}</label>
            </div>
            <div style="margin-top: 2ex;">
                <label>Реверс:</label>
                <label id="reverse">{{ coin.0.description_reverse }}</label>
            </div>
            <div style="margin-top: 2ex;">
                <label>Художник(и):</label>
                <label id="painter">{{ coin.0.painter }}</label>
            </div>
            <div>
                <label>Скульптор(ы):</label>
                <label id="sculptor">{{ coin.0.sculptor }}</label>
            </div>
            <div style="margin-top: 2ex;">
                <label>Монетный двор:</label>
                {% for mint in mints %}
                    <label id="mint">{{ mint.mint__mint_name }}</label>;
                {% endfor %}
            </div>
            <div style="margin-top: 2ex;">
                <label>Гурт:</label>
                <label id="herd">{{ coin.0.coin_herd }}</label>
            </div>
        </div>
    </div>


    {% with price|last as last %}
        {% if last.price %}
            <div id="coins_chart" style="padding-top:3ex;" class="alert alert-info">{{ chart|load_charts:"coins_chart" }}</div>
        {% endif %}
    {% endwith %}

    <div>

    </div>

{% endblock %}