{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Монеты пользователя - {{ coin.coin_name }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
<!-- Change design select element -->
    <script src="{% static 'chosen/select_bootstrap_items.js' %}"></script>
    <script src="{% static 'js/add_user_series.js' %}"></script>
    <script src="{% static 'custom/csrf_ajax.js' %}"></script>

    <script src="{% static 'js/add_coins.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    {% for s in series %}
        <a href="/user/collections/">Страны</a> /
        <a href="/user/collections/{{ s.country__id }}">{{ s.country__country_name }}</a> /
        <a href="/user/collections/{{ s.country__id }}/{{ s.id }}">{{ s.series_name }}</a>
    {% endfor %}
</div>

<div class="container">
    <div style="width: 58em; float: left" class="col-md-9">
        <h1>{{ coin.coin_name }}</h1>
        <div>
            <img class='over' src="{{ coin.photo_obverse }}">
            <img class='over' src="{{ coin.photo_reverse }}">
        </div>
        <div style="margin-top: 3ex;">
            <a href="/coins/catalog/city/{{ country }}/{{ coin.id }}" target="_blank" style="height: 3ex; font-size: 6ex;" class="center btn btn-success btn-large">Подробнее о монете</a>
        </div>

    </div>


       <div id="addCoinInfo"  class="col-md-3 alert alert-warning infobox">

           <form method="post">
               {% csrf_token %}
               <h4 class="alert alert-info" id="showForm">Добавьте описание монеты</h4>
                <input type="text" hidden="true" value="{{ coin.id }}" name="coin_id">
                <div name="add">
                    <div class="item_padding">
                        <label>Введите количество монет</label>
                        <input type="number" min="1" required="true" class="form-control" placeholder="Введите количество" name="quantity">
                    </div>
                    <div class="item_padding">
                        <label>Выберите монетный двор</label>
                        <select class="chosen-select" name="mint">
                            {% for mint in mints %}
                                <option value="{{ mint.mint__id }}">{{ mint.mint__mint_abbreviation }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="item_padding">
                        <label>Выберите состояние монеты</label>

                        <select class="chosen-select" data-placeholder="Выберите состояние монеты" name="condition" required="true">
                            {% for condition in conditions %}
                                <option value="{{ condition.id}}">{{ condition.condition_name }} ({{ condition.condition_abbr }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="item_padding">
                        <label>Выберите брак</label> <br>
                        <select name="defect" class="chosen-select">
                            {% for defect in defects%}
                                <option value="{{ defect.id}}">{{ defect.defect_name }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="item_padding">
                        <label>Примечание</label>
                        <textarea name="note" aria-multiline="5" cols="10" class="form-control"></textarea>
                    </div>

                </div>
                <input type="submit" value="Добавить описание" class="btn btn-primary" style="margin-top: 3ex;">
            </form>
       </div>
</div>

    <div class="container" style="margin-top: 10ex">
        <div id="popup" style="display:none; position: absolute;" class="alert alert-success" role="alert">Количество монет успешно обновлено</div>
        <div id="popup-error" style="display:none; position: absolute;" class="alert alert-danger" role="alert">Произошла ошибка. Попробуйте обновить значение позднее.</div>

        {% if uci %}
            <table class="table">
                <tr>
                    <th>
                        Количество монет, шт
                    </th>
                    <th>

                    </th>
                    <th>
                        Монетный двор
                    </th>
                    <th>
                        Тип брака
                    </th>
                    <th>
                        Состояние монеты
                    </th>
                    <th></th>
                </tr>
                {% for info in uci %}
                    <tr id="{{ info.id }}">
                        <td>
                            <input id="q-{{ info.id }}" type="number" min="1" required value="{{ info.quantity }}" class="form-control">
                        </td>
                        <td style="width:10%" >
                            <button value="{{ info.id }}" title="Обновить количество монет" onclick="quantityRefresh(this)"><img id="btn-{{ info.id }}" src="{% static 'gif/refresh.png' %}" class="refresh"></button>
                        </td>
                        <td>
                            {{ info.mint__mint_abbreviation }}
                        </td>
                        <td>
                            {{ info.defect_type__defect_name }}
                        </td>
                        <td bgcolor="{{ info.condition__condition_color }}">
                            {{ info.condition__condition_name }}
                        </td>
                        <td>
                            {{ info.note }}
                        </td>
                        <td>
                            <button class="btn btn-danger" value="{{ info.id }}" onclick="deleteCoinInfo(this);">Удалить</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>Ещё не добавлено информации</h3>
        {% endif %}
    </div>



{% endblock %}
