{% extends 'base.html' %}
{% block content %}

<form class="form-horizontal" method="post">
{% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>Изменение пароля</legend>

<!-- Password input-->
<div class="form-group">

  <label class="control-label" for="current_password">Текущий пароль</label>
  <div class="">
    <input id="current_password" name="current_password" type="password" placeholder="Введите текущий пароль" class="form-control input-md" required="">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="control-label" for="new_password">Новый пароль</label>
  <div class="">
    <input id="new_password" name="new_password" type="password" placeholder="Введите новый пароль" class="form-control input-md">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="control-label" for="submit_btn"></label>
  <div class="">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">Подтвердить</button>
  </div>
</div>

</fieldset>
</form>


{%endblock  %}