{% extends 'base.html' %}

{% block title %}
    Монеты на! -
{% endblock %}

{% block content %}
    <h1>Лот №{{ shop_item.0.id }}</h1>
    Разместил пользователь: {{ shop_item.0.user__username }}
    <div>
        <div>
            Всего в наличии: <label>{{ shop_item.0.quantity_lots }}</label> лот(ов)
        </div>
        <div>
            Купить
            <input type="number" value="1">
            лот(ов)
        </div>

    </div>


    {{ shop_item.0.total_sum }}

<hr>
    <div>
        <h3>Содержимое лота</h3>
        {% for item in item_lots %}
            {{ item.price }}
            {{ item.quantity }}
            <img src="{{ item.coin__photo_reverse }}">
            {{ item.coin__coin_name }}
            {{ item.coin__country__id }}
        {% endfor %}

    </div>


<hr>
<div>
    <h3>Описание лота</h3>
    {{ shop_item.0.description }}
</div>
{% endblock %}