{% extends 'base.html' %}

{% block content %}
<form id='search-form'>
    {% csrf_token %}
    <div id='countries'>
    <select id='select-country'>
        {% for country in countries %}
            <option value="{{country.id}}">{{country.country_name}}</option>
        {% endfor %}
    </select>
    </div>
    </br>
    <div id='mints'></div>
  </form>
<script type="text/javascript">
    $(document).ready(function(){
        $('#select-country').change(function(){
            $.ajax({
                url: '{% url 'country-ajax' %}',
                type: 'GET',
                dataType: 'json',
                data: {
                    'country':  $(this).val()
                },
                success:function(json){
                    $('#mints').html("");
                    $('<select>',{
                      'id':'mint-select'
                    }).appendTo('#mints');
                    for (i = 0;i<json.length;i++)
                    {
                        $('<option>',{
                            'value':json[i].fields.id,
                            'html': json[i].fields.mint_abbreviation
                        }).appendTo('#mint-select');
                    }

                },

                error:function(){
                    alert("Error!")
                }
            });
        });

})

</script>
{% endblock %}

